<div class="d-flex mt-3">
    <div class="pic">
    	<img src="" alt="hey">
    </div>
    <div class="text ml-3">
        <h6><strong><%= opinion.author.fullname %> </strong></h6>
            <p class="card-text"><%= opinion.text %> </p>
    </div>
</div>