	<div class="row">
		<div class="col-3 bg-dark"></div>
		<div class="col-9">
			<!-- <img class ="../../assets/images/book-logo.jpg" alt="book-logo"> -->
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  			<div class="container">
  				<%= link_to 'Book', '#', class: "navbar-brand" %>
  				<button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    			<span class="navbar-toggler-icon"></span>
  				</button>

  				<div class="collapse navbar-collapse" id="navbarMenu">
    			<ul class="navbar-nav mr-auto">
      			  <li class="nav-item">
                  <%= link_to 'All Events', '#', class: "nav-link" %>
      			</li>
      			<li class="nav-item">
        		<%= link_to 'Create Event', '#', class: "nav-link" %>
        
      			</li>
    			</ul>
     			<%#= check_member %>
  				</div>
  			</div>
		</nav>
		</div>
	</div>
</div>
<!-- 
https://www.flaticon.com/edge/redirect?url=aHR0cHM6Ly9jbGsudHJhZGVkb3VibGVyLmNvbS9jbGljaz9wPTMwNDYwOCZhPTMxNDQ0NjImZz0yNDczNzQ3OCZlcGk9bm4mdXJsPWh0dHBzOi8vc3RvY2suYWRvYmUuY29tL2ltYWdlcy9pZC8zMzU0NTMyOTU/YXNfY2FtcGFpZ249RmxhdGljb24mYXNfY29udGVudD1hcGkmYXNfYXVkaWVuY2U9c3Jw -->